/data/goal_set*
/data/wb.text.*
/data/words.vector.gz
/log

_trial_temp/*
utils/test/test_data/
.DS_Store
gov/.DS_Store
__pycache__/*
conf/__pycache__/*
gov/__pycache__/*
utils/__pycache__/*
utils/test/__pycache__/*
normal/__pycache__/*
/_trial_temp.lock
